{
  "Entries": [
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"centraluseuap\",\r\n  \"name\": \"hiagaVault\",\r\n  \"etag\": \"W/\\\"datetime'2021-07-31T02%3A46%3A03.21899Z'\\\"\",\r\n  \"tags\": {\r\n    \"MABUsed\": \"Yes\",\r\n    \"Owner\": \"hiaga\",\r\n    \"Purpose\": \"Testing\",\r\n    \"DeleteBy\": \"01-2099\"\r\n  },\r\n  \"identity\": {\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"principalId\": \"09f8c66b-fe60-4dbb-ba66-57b4232a4867\",\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"privateEndpointStateForBackup\": \"None\",\r\n    \"privateEndpointStateForSiteRecovery\": \"None\"\r\n  },\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n  \"sku\": {\r\n    \"name\": \"RS0\",\r\n    \"tier\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupProtectedItems?$filter=backupManagementType%20eq%20'AzureIaasVM'%20and%20itemType%20eq%20'VM'&api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "149"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;hiagarg;hiagavm/protectedItems/VM;iaasvmcontainerv2;hiagarg;hiagavm\",\r\n      \"name\": \"VM;iaasvmcontainerv2;hiagarg;hiagavm\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems\",\r\n      \"properties\": {\r\n        \"kpisHealths\": {\r\n          \"RestoreOperationStatusKPI\": {\r\n            \"resourceHealthStatus\": \"Healthy\",\r\n            \"resourceHealthDetails\": [\r\n              {\r\n                \"code\": 0,\r\n                \"title\": \"Success\",\r\n                \"message\": \"\",\r\n                \"recommendations\": []\r\n              }\r\n            ]\r\n          },\r\n          \"BackupOperationStatusKPI\": {\r\n            \"resourceHealthStatus\": \"TransientDegraded\",\r\n            \"resourceHealthDetails\": [\r\n              {\r\n                \"code\": 400039,\r\n                \"title\": \"GuestAgentSnapshotTaskStatusError\",\r\n                \"message\": \"Could not communicate with the VM agent for snapshot status.\",\r\n                \"recommendations\": [\r\n                  \"Please retry the backup operation. If the issue repeats, follow the instructions at http://go.microsoft.com/fwlink/?LinkId=800034.\"\r\n                ]\r\n              }\r\n            ]\r\n          }\r\n        },\r\n        \"friendlyName\": \"hiagavm\",\r\n        \"virtualMachineId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.Compute/virtualMachines/hiagavm\",\r\n        \"protectionStatus\": \"Unhealthy\",\r\n        \"protectionState\": \"Protected\",\r\n        \"healthStatus\": \"ActionSuggested\",\r\n        \"healthDetails\": [\r\n          {\r\n            \"code\": 400039,\r\n            \"title\": \"GuestAgentSnapshotTaskStatusError\",\r\n            \"message\": \"Could not communicate with the VM agent for snapshot status.\",\r\n            \"recommendations\": [\r\n              \"Please retry the backup operation. If the issue repeats, follow the instructions at http://go.microsoft.com/fwlink/?LinkId=800034.\"\r\n            ]\r\n          }\r\n        ],\r\n        \"lastBackupStatus\": \"Failed\",\r\n        \"lastBackupTime\": \"2021-08-03T16:42:47.0810476Z\",\r\n        \"protectedItemDataId\": \"52853529\",\r\n        \"extendedProperties\": {},\r\n        \"protectedItemType\": \"Microsoft.Compute/virtualMachines\",\r\n        \"backupManagementType\": \"AzureIaasVM\",\r\n        \"workloadType\": \"VM\",\r\n        \"containerName\": \"iaasvmcontainerv2;hiagarg;hiagavm\",\r\n        \"sourceResourceId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.Compute/virtualMachines/hiagavm\",\r\n        \"policyId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupPolicies/DefaultPolicy\",\r\n        \"policyName\": \"DefaultPolicy\",\r\n        \"lastRecoveryPoint\": \"2021-08-01T23:09:10.7656331Z\",\r\n        \"isArchiveEnabled\": false\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bhiagarg%3Bhiagavm/protectedItems/VM%3Biaasvmcontainerv2%3Bhiagarg%3Bhiagavm?$filter=expand%20eq%20'extendedinfo'&api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bhiagarg%3Bhiagavm/protectedItems/VM%3Biaasvmcontainerv2%3Bhiagarg%3Bhiagavm/recoveryPoints?$filter=startDate%20eq%20'2021-06-05%2001:31:49%20AM'%20and%20endDate%20eq%20'2021-08-04%2001:31:49%20AM'&api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "149"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;hiagarg;hiagavm/protectedItems/VM;iaasvmcontainerv2;hiagarg;hiagavm/recoveryPoints/170401420175731\",\r\n      \"name\": \"170401420175731\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints\",\r\n      \"properties\": {\r\n        \"objectType\": \"IaasVMRecoveryPoint\",\r\n        \"recoveryPointType\": \"AppConsistent\",\r\n        \"recoveryPointTime\": \"2021-08-01T23:09:10.7656331Z\",\r\n        \"recoveryPointAdditionalInfo\": \"\",\r\n        \"sourceVMStorageType\": \"PremiumVMOnPartialPremiumStorage\",\r\n        \"isSourceVMEncrypted\": false,\r\n        \"isInstantIlrSessionActive\": false,\r\n        \"recoveryPointTierDetails\": [\r\n          {\r\n            \"type\": \"InstantRP\",\r\n            \"status\": \"Valid\"\r\n          },\r\n          {\r\n            \"type\": \"HardenedRP\",\r\n            \"status\": \"Valid\"\r\n          }\r\n        ],\r\n        \"isManagedVirtualMachine\": true,\r\n        \"virtualMachineSize\": \"Standard_B4ms\",\r\n        \"originalStorageAccountOption\": false,\r\n        \"osType\": \"Windows\",\r\n        \"zones\": [\r\n          \"1\"\r\n        ],\r\n        \"recoveryPointMoveReadinessInfo\": {\r\n          \"ArchivedRP\": {\r\n            \"isReadyForMove\": false,\r\n            \"additionalInfo\": \"Recovery point cannot be moved to Archive tier due to insufficient retention duration specified in policy.. Update policy on the protected item with appropriate retention setting and try again.\"\r\n          }\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;hiagarg;hiagavm/pro[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resources?$filter=resourceType%20eq%20'Microsoft.ClassicStorage%2FstorageAccounts'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/iaasvm.existing/providers/Microsoft.ClassicStorage/storageAccounts/iaasextstore2\",\r\n      \"name\": \"iaasextstore2\",\r\n      \"type\": \"Microsoft.ClassicStorage/storageAccounts\",\r\n      \"location\": \"southeastasia\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resources?$filter=resourceType%20eq%20'Microsoft.Storage%2FstorageAccounts'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/iaasvm.existing.crr/providers/Microsoft.Storage/storageAccounts/iaasvmexistingcrrdiag\",\r\n      \"name\": \"iaasvmexistingcrrdiag\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_LRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"kind\": \"Storage\",\r\n      \"location\": \"centraluseuap\",\r\n      \"tags\": {\r\n        \"MAB Used\": \"Yes\",\r\n        \"DeleteBy\": \"01-2030\",\r\n        \"Delete By\": \"01-2030\",\r\n        \"Owner\": \"chgonugu\",\r\n        \"Purpose\": \"Testing\",\r\n        \"AutoShutdown\": \"false\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/iaasvm.existing.crr/providers/Microsoft.Storage/storageAccounts/iaasvmexistingcrrdiag112\",\r\n      \"name\": \"iaasvmexistingcrrdiag112\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_LRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"kind\": \"Storage\",\r\n      \"location\": \"eastus2euap\",\r\n      \"tags\": {\r\n        \"Owner\": \"chgonugu\",\r\n        \"Purpose\": \"Testing\",\r\n        \"MabUsed\": \"Yes\",\r\n        \"DeleteBy\": \"01-2025\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/iaasvm.existing.crr/providers/Microsoft.Storage/storageAccounts/iaasvmexistingcrr\",\r\n      \"name\": \"iaasvmexistingcrr\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_LRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"kind\": \"StorageV2\",\r\n      \"lo[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bhiagarg%3Bhiagavm/protectedItems/VM%3Biaasvmcontainerv2%3Bhiagarg%3Bhiagavm/recoveryPoints/170401420175731/restore?api-version=2021-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"objectType\": \"IaasVMRestoreRequest\",\r\n    \"recoveryPointId\": \"170401420175731\",\r\n    \"recoveryType\": \"RestoreDisks\",\r\n    \"sourceResourceId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.Compute/virtualMachines/hiagavm\",\r\n    \"targetResourceGroupId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg\",\r\n    \"storageAccountId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.Storage/storageAccounts/hiagasa\",\r\n    \"region\": \"centraluseuap\",\r\n    \"createNewCloudService\": false,\r\n    \"originalStorageAccountOption\": false,\r\n    \"restoreDiskLunList\": [],\r\n    \"restoreWithManagedDisks\": false,\r\n    \"identityInfo\": {\r\n      \"isSystemAssignedIdentity\": true\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;hiagarg;hiagavm/protectedItems/VM;iaasvmcontainerv2;hiagarg;hiagavm/operationResults/3bae543b-b86e-44aa-8fd3-d8c4f4f5e650?api-version=2021-06-01"
        ],
        "Retry-After": [
          "60"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;hiagarg;hiagavm/protectedItems/VM;iaasvmcontainerv2;hiagarg;hiagavm/operationsStatus/3bae543b-b86e-44aa-8fd3-d8c4f4f5e650?api-version=2021-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;hiagarg;hiagavm/protectedItems/VM;iaasvmcontainerv2;hiagarg;hiagavm/operationsStatus/3bae543b-b86e-44aa-8fd3-d8c4f4f5e650?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "149"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"3bae543b-b86e-44aa-8fd3-d8c4f4f5e650\",\r\n  \"name\": \"3bae543b-b86e-44aa-8fd3-d8c4f4f5e650\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-08-04T01:31:51.7805777Z\",\r\n  \"endTime\": \"2021-08-04T01:31:51.7805777Z\",\r\n  \"properties\": {\r\n    \"objectType\": \"OperationStatusJobExtendedInfo\",\r\n    \"jobId\": \"3bae543b-b86e-44aa-8fd3-d8c4f4f5e650\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;hiagarg;hiagavm/protectedItems/VM;iaasvmcontainerv2;hiagarg;hiagavm/operationResults/3bae543b-b86e-44aa-8fd3-d8c4f4f5e650?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;hiagarg;hiagavm/protectedItems/VM;iaasvmcontainerv2;hiagarg;hiagavm/operationsStatus/3bae543b-b86e-44aa-8fd3-d8c4f4f5e650?api-version=2021-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "149"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupOperations/3bae543b-b86e-44aa-8fd3-d8c4f4f5e650?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "149"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"3bae543b-b86e-44aa-8fd3-d8c4f4f5e650\",\r\n  \"name\": \"3bae543b-b86e-44aa-8fd3-d8c4f4f5e650\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-08-04T01:31:51.7805777Z\",\r\n  \"endTime\": \"2021-08-04T01:31:51.7805777Z\",\r\n  \"properties\": {\r\n    \"objectType\": \"OperationStatusJobExtendedInfo\",\r\n    \"jobId\": \"3bae543b-b86e-44aa-8fd3-d8c4f4f5e650\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupJobs/3bae543b-b86e-44aa-8fd3-d8c4f4f5e650?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "149"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupJobs/3bae543b-b86e-44aa-8fd3-d8c4f4f5e650\",\r\n  \"name\": \"3bae543b-b86e-44aa-8fd3-d8c4f4f5e650\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupJobs\",\r\n  \"properties\": {\r\n    \"jobType\": \"AzureIaaSVMJob\",\r\n    \"actionsInfo\": [\r\n      1\r\n    ],\r\n    \"containerName\": \"iaasvmcontainerv2;hiagarg;hiagavm\",\r\n    \"duration\": \"PT58.5626142S\",\r\n    \"virtualMachineVersion\": \"Compute\",\r\n    \"extendedInfo\": {\r\n      \"tasksList\": [\r\n        {\r\n          \"taskId\": \"Transfer data from vault\",\r\n          \"duration\": \"PT0S\",\r\n          \"status\": \"InProgress\"\r\n        }\r\n      ],\r\n      \"propertyBag\": {\r\n        \"Job Type\": \"Recover disks\",\r\n        \"Target VM Name\": \"vmName\",\r\n        \"Target Storage Account Name\": \"hiagasa\",\r\n        \"Recovery point time \": \"8/1/2021 11:09:10 PM\",\r\n        \"Target resource group\": \"hiagarg\"\r\n      },\r\n      \"internalPropertyBag\": {\r\n        \"restoreLocationType\": \"RestoreDisks\"\r\n      },\r\n      \"progressPercentage\": 1.0\r\n    },\r\n    \"entityFriendlyName\": \"hiagavm\",\r\n    \"backupManagementType\": \"AzureIaasVM\",\r\n    \"operation\": \"Restore\",\r\n    \"status\": \"InProgress\",\r\n    \"startTime\": \"2021-08-04T01:31:51.7805777Z\",\r\n    \"activityId\": \"e4435253-d330-4ee9-b09f-64c6ecf4c541\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupJobs/3bae543b-b86e-44aa-8fd3-d8c4f4f5e650?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "143"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupJobs/3bae543b-b86e-44aa-8fd3-d8c4f4f5e650\",\r\n  \"name\": \"3bae543b-b86e-44aa-8fd3-d8c4f4f5e650\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupJobs\",\r\n  \"properties\": {\r\n    \"jobType\": \"AzureIaaSVMJob\",\r\n    \"actionsInfo\": [\r\n      1\r\n    ],\r\n    \"containerName\": \"iaasvmcontainerv2;hiagarg;hiagavm\",\r\n    \"duration\": \"PT3M11.8068791S\",\r\n    \"virtualMachineVersion\": \"Compute\",\r\n    \"extendedInfo\": {\r\n      \"tasksList\": [\r\n        {\r\n          \"taskId\": \"Transfer data from vault\",\r\n          \"duration\": \"PT0S\",\r\n          \"status\": \"Completed\",\r\n          \"taskExecutionDetails\": \"383 GBs / 383 GBs Transferred\"\r\n        }\r\n      ],\r\n      \"propertyBag\": {\r\n        \"Job Type\": \"Recover disks\",\r\n        \"Target VM Name\": \"vmName\",\r\n        \"Target Storage Account Name\": \"hiagasa\",\r\n        \"Recovery point time \": \"8/1/2021 11:09:10 PM\",\r\n        \"Config Blob Name\": \"config-hiagavm-3bae543b-b86e-44aa-8fd3-d8c4f4f5e650.json\",\r\n        \"Config Blob Container Name\": \"hiagavm-81b9def57c354f91aaf6bc0636c86f37\",\r\n        \"Config Blob Uri\": \"https://hiagasa.blob.core.windows.net/hiagavm-81b9def57c354f91aaf6bc0636c86f37/config-hiagavm-3bae543b-b86e-44aa-8fd3-d8c4f4f5e650.json\",\r\n        \"Target resource group\": \"hiagarg\",\r\n        \"Template Blob Uri\": \"https://hiagasa.blob.core.windows.net/hiagavm-81b9def57c354f91aaf6bc0636c86f37/azuredeploy3bae543b-b86e-44aa-8fd3-d8c4f4f5e650.json\"\r\n      },\r\n      \"internalPropertyBag\": {\r\n        \"restoreLocationType\": \"RestoreDisks\"\r\n      },\r\n      \"progressPercentage\": 100.0,\r\n      \"estimatedRemainingDuration\": \"PT0S\"\r\n    },\r\n    \"entityFriendlyName\": \"hiagavm\",\r\n    \"backupManagementType\": \"AzureIaasVM\",\r\n    \"operation\": \"Restore\",\r\n    \"status\": \"Completed\",\r\n    \"startTime\": \"2021-08-04T01:31:51.7805777Z\",\r\n    \"endTime\": \"2021-08-04T01:35:03.5874568Z\",\r\n    \"activityId\": \"e4435253-d330-4ee9-b09f-64c6ecf4c541\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "38304e13-357e-405e-9e9a-220351dcce8c"
  }
}